* {
	font-family: verdana, arial;
	color: rgb(232,234,237);
	line-height: 35px;
	text-decoration: none;
}input[type=checkbox] {
    transform: scale(2);
}
body {
	margin: 0;
	padding: 0;
	background: rgb(17, 17, 35);
}
.wrapper {
	margin: auto;
	padding: 10px;
}
p, ul, label, a{
	font-size: 20px;
	list-style: none;
	
}
li, a{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	list-style: none;
	line-height: 55px;
}
table, th, td {
	font-size: 20px;
	/* top right bottom left */
	padding: 5px;
	text-align: left;
}
/* phone viewport */
html, body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.modal {
  width: 50vw;
  height: 50vh;
  height: calc(var(--vh, 1vh) * 50);
}
 const resizeOps = () => {
    document.documentElement.style.setProperty("--vh", window.innerHeight * 0.01 + "px");
};
resizeOps();
window.addEventListener("resize", resizeOps);